@import '~carbon-components/scss/globals/scss/layout';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;600;700&display=swap');

.header button {
  display: flex;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
  align-items: center;
}

header.header {
  background-color: $ui-05;
  border-bottom: 1px solid $inverse-02;
  font-family: 'IBM Plex Sans', sans-serif;
  z-index: z('floating');
}

.header :global(.bx--header__action--menu) {
  border: none;
  top: 0.5px;
  position: relative;
  flex-shrink: 0;
  &:focus {
    outline: 2px solid $inverse-01;
    outline-offset: -2px;
  }
  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.header :global(.bx--header__action--menu.bx--header__action--active) {
  background-color: $ui-05;
  border-right: 1px solid $inverse-02;
  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.header :global(.bx--header__name):focus {
  box-shadow: none;
}

.headerName span {
  font-weight: 600;
}

.header .skip-to-content {
  color: $carbon--white-0;
}

.header .skip-to-content:focus {
  border: 2px solid $carbon--white-0;
  margin: 0;
}

.headerName {
  @include carbon--type-style('body-short-02');
  font-family: 'IBM Plex Sans', sans-serif;
  transition: opacity $duration--fast-02 $carbon--standard-easing;
  color: $inverse-01;
  text-decoration: none;
  position: absolute;
  left: 0;
  white-space: nowrap;
  padding: 0 $spacing-05;
  height: 3rem;
  border-top: 1px solid transparent;
  display: flex;
  align-items: center;
  &:focus {
    outline: 2px solid $inverse-01;
    outline-offset: -2px;
  }

  @include carbon--breakpoint('lg') {
    left: 0;
  }
}

.header .header-button {
  flex-shrink: 0;
  transition: background-color $duration--fast-02 $carbon--standard-easing;
}

// Switcher button, extra specificity to override Carbon styles
// Hex values used pending shell theming
.header .header-button.switcher-button {
  background-color: $ui-05;
  position: relative;
  border: none;
  border-color: $ui-05;
  border-bottom: 1px solid $inverse-02;
  &:focus {
    border-color: $inverse-02;
    outline: 2px solid $inverse-01;
    outline-offset: -2px;
  }
  &:hover {
    background-color: #353535;
  }
  &:active {
    background-color: #3d3d3d;
    border-left: 1px solid $ui-05;
    border-right: 1px solid $ui-05;
  }
}

.header-button.switcher-button.switcher-button--open {
  border: 1px solid transparent;
  border-left: 1px solid $inverse-02;
  border-bottom: 1px solid $ui-05;
  background-color: $ui-05;
  &:active {
    border-left: 1px solid $inverse-02;
  }
}

// .headerName {
//   border-right: 1px solid #3D3D3D;
//   padding-top: 12px;
//   padding-bottom: 12px;
// }

.navLists {
  margin-left: 130px;
  display: flex;
}

.navLink {
  margin-left: 32px; 
  text-decoration: none;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 24px;
  letter-spacing: 0.16px;
  
  color: #C6C6C6;
  
}

.navLeftBorder {
  width: 1px;
  background: #3D3D3D;
  height: 24px;
  display: inline-block;
}

@media (max-width: 768px) {
  .navLink {
    display: none;
  }
}

@media (min-width: 769px) {
  .globalBar {
    display: none !important;
  }
}